

<div class="container mt-3">
    <label for="buscarAlumno" class="form-label">Buscar alumno por correo:</label>
    
    <div class="input-group">
        <input type="text" id="buscarAlumno" class="form-control" placeholder="Ingrese el correo del alumno..." autocomplete="off">
        <button id="btnAgregarAlumno" class="btn btn-primary" onclick="agregarAlumno()">Agregar Alumno</button>
    </div>

    <ul id="sugerenciasAlumnos" class="list-group mt-2"></ul>
</div>


<script>
    console.log("La vista ha cargado correctamente.");
</script>
