/* Contenedor de todas las cards */
.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas por fila */
    gap: 20px; /* Espacio entre las cards */
    margin: 20px; /* Espacio alrededor del contenedor */
}

/* Estilo para cada card */
.card-container1 {
    background-color: #f0f0f0; /* Gris de fondo */
    padding: 15px;
    border-radius: 8px;
    box-sizing: border-box;
    /* Tamaño máximo para que las cards no se estiren demasiado en pantallas grandes */
    max-width: 300px;
    width: 100%;
    display: block;
}

.card-title {
    font-size: 1.5em;
    margin: 0;
}

/* Estilo para la línea de separación */
.card-separator {
    border: 1px solid #ccc;
    margin: 10px 0;
}

/* Estilo para el botón */
.card-button {
    display: block;
    margin-left: auto; /* Alineación a la derecha */
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: auto;
}

    .card-button:hover {
        background-color: #0056b3;
    }





.card-etiqueta-container {
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el texto */
}


.card-etiqueta {
    font-size: 15px;;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    background-color: #007bffc6;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex; /* Usamos flexbox para alinear los elementos */
    align-items: center; /* Alinea la imagen y el texto verticalmente */
 
}

.iconos-nav2 {
    width: 60px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}
