@{
    Layout = "~/Views/Shared/_LayoutDocente.cshtml";
    ViewData["Title"] = "Inicio - Docente";
    /*Modales utilizados*/
    @Html.Partial("~/Views/Docente/GruposModal.cshtml")
    @Html.Partial("~/Views/Docente/MateriasModal.cshtml")
}

@section Scripts {
    <script src="~/js/Docente/Grupos/docente.js"></script>
}



<div class="misCursos-header">
    <h2 class="misCursos-titulo">
        Mis cursos
        <img src="@Url.Content("~/Iconos/FILTRO-26.svg")"
             alt="ActivIA Logo"
             class="misCursos-icono">
    </h2>

    <!-- Botón desplegable -->
    <div class="misCursos-dropdown">
        <button class="misCursos-btn-crear" id="misCursos-dropdownBtn">CREAR</button>
        <div class="misCursos-dropdown-menu" id="misCursos-dropdownMenu">
            <button class="misCursos-dropdown-item" data-bs-toggle="modal" data-bs-target="#materiasModal">Gestionar Materias</button>
            <button class="misCursos-dropdown-item" data-bs-toggle="modal" data-bs-target="#gruposModal" id="gestionarGruposBtn">Gestionar Grupos</button>
        </div>
    </div>
</div>

<button class="misCursos-btn-crear" onclick="window.location.href='/Docente/MateriasDetalles'">Avisos Pruebas</button>


<br />
<br />
<!-- Contenedor donde se mostrarán los grupos -->
<div id="listaGrupos" class="mt-4">
    <!-- Aquí aparecerán la cards de los grupos después de crearlos lo controla docente.js-->
</div>

<div class="divider"></div>

<div class="section-title">
    Materias sin grupo registrado
</div>

<!-- Contenedor donde se mostraran las materias que no tienen asignado un grupo-->

<div id="listaMateriasSinGrupo" class="mt-4">
    <!--Aqui se mostraran las materias sin grupo despues de crearlos lo controla docente.js -->
</div>
