@model AprendeMasWeb.Models.DBModels.Avisos
@{
    Layout = "~/Views/Shared/_LayoutDocente.cshtml";
    ViewData["Title"] = "Detalles de Materias";
}

@section Scripts {
    <script src="~/js/Docente/Grupos/materia.js"></script>
    <link rel="stylesheet" href="~/css/Docente/materias.css" />
}


<div class="materia-container">
    <div class="materia-header" id="materiaHeader" style="background-color: #d63384;">
        <h1> <span id="materiaNombre"></span> </h1>
        <div class="materia-info">
            <span>Código de clase: <strong id="codigoAcceso">...</strong></span>
            <i class="fas fa-cog"></i>
        </div>
    </div>
    <nav class="materia-nav">
        <button class="tab-button active" onclick="cambiarSeccion('avisos')">Avisos</button>
        <button class="tab-button" onclick="cambiarSeccion('actividades')">Actividades</button>
        <button class="tab-button" onclick="cambiarSeccion('alumnos')">Alumnos</button>
        <button class="tab-button" onclick="cambiarSeccion('calificaciones')">Calificaciones</button>
    </nav>
 

    <div id="vista-avisos" class="materia-view-unique materia-content active">
        <h2>Crear Nuevo Aviso</h2>
        <form asp-action="CrearAviso" method="post">
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* <label asp-for="Enlace" class="control-label"></label> *@
                @* <input asp-for="Enlace" class="form-control" /> *@
                @* <span asp-validation-for="Enlace" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <input type="submit" value="Crear Aviso" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div id="vista-actividades" class="materia-view-unique materia-content">Contenido de Actividades</div>
    <div id="vista-alumnos" class="materia-view-unique materia-content">Contenido de Alumnos</div>
    <div id="vista-calificaciones" class="materia-view-unique materia-content">Contenido de Calificaciones</div>


</div>


