@model List<AprendeMasWeb.Models.DBModels.tbAvisos>
<div class="alert alert-info">
    <h4>Últimos Avisos</h4>
    <ul id="avisos-container" class="list-group">
        <li class="list-group-item">Cargando avisos...</li>
    </ul>
</div>

<script>
    let alumnoIdGlobal = @User.FindFirst("AlumnoId")?.Value ?? "null";
</script>
