@* @model List<AprendeMasWeb.Models.DBModels.Avisos> *@
<div class="list-group-item2">
    
    <ul id="contenedorAvisos" class="list-group">
        <li class="list-group-item">Cargando avisos...</li>
    </ul>
</div>

<script>
    let alumnoIdGlobal = "@ViewBag.AlumnoId";
</script>
