@{
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
    ViewData["Title"] = "Inicio - Alumno";
}


@model AprendeMasWeb.Models.DBModels.Grupos

<h2>@Model.NombreGrupo</h2>
<p>@Model.Descripcion</p>
<a href="/Alumno/Clases">Volver</a>

