@{
    Layout = "~/Views/Shared/_LayoutAlumno.cshtml";
    ViewData["Title"] = "Inicio - Alumno";
}


<!-- Botón para abrir modal -->
<button onclick="openModal()" class="modal-btn-unique">Unirme a una clase</button>

<!-- Modal -->
<div id="modalUnique" class="modal-overlay-unique">
    <div class="modal-container-unique">
        <h2>Unirme a una clase</h2>
        <input type="text" id="codigoAccesoInput" class="modal-input-unique" placeholder="Escribe el código de la clase">
        <button onclick="unirseAClase()" class="modal-btn-Centrados">Unirme</button>
        <button onclick="closeModal()" class="modal-btn-Centrados" style="background: #dc3545; margin-top: 10px;">Cerrar</button>
    </div>
</div>


<!-- Contenedor donde se mostrarán las clases -->
<div class="card-wrapper" id="contenedorClases"></div>


